%h1 Give feedbacks

= form_tag user_feedbacks_path, method: :post do
  .form-group{style: 'width:50%'}
    %label Receiver
    = select_tag 'receiver_id', options_from_collection_for_select(users, 'id', 'full_name', @receiver.id), class: 'form-control'
  .form-group
    %label Bad
    = text_area_tag 'content[bad]', nil, class: 'form-control'
  .form-group
    %label Good
    = text_area_tag 'content[good]', nil, class: 'form-control'
  .form-group
    %label Future
    = text_area_tag 'content[future]', nil, class: 'form-control'

  = submit_tag 'Give feedback', class: 'btn btn-info'

:javascript
  $(document).ready(function() {
    $('#receiver_id').effect('highlight', {}, 2000);
  });
